body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#menu-lateral {
    position: fixed;
    left: 0;
    top: 0;
    width: 270px;
    height: 900px;
    background-color: #5978E5; /* Cor de fundo azul */
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    text-align: center; /* Texto centralizado */
}

#menu-lateral nav span {
    font-size: 1.5em;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
}

#menu-lateral nav a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 30px;
}

#menu-lateral nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#menu-lateral nav ul button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 5px 10px;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
}

#menu-lateral nav ul button:hover {
    background-color: #2980b9; /* Cor de fundo azul mais escura quando hover */
}

#menu-lateral .imagem {
    width: 200px; /* Definindo a largura da imagem */
    height: auto; /* Mantendo a proporção da altura automaticamente */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;
}

.imagem-atendente {
    width: 100px; /* Definindo a largura da imagem */
    height: auto; /* Mantendo a proporção da altura automaticamente */
    display: block; /* Exibir como bloco para aplicar margens automáticas */
    margin: 0 auto 15px auto; /* Margens automáticas para centralizar a imagem horizontalmente */
    border-radius: 50%;
    overflow: hidden;
}

main {
    margin-left: 250px; /* Margem à esquerda para deixar espaço para o menu lateral */
    padding: 20px; /* Espaçamento interno */
    display: flex; /* Exibir como flex container */
}

/* Estilizando as seções dentro do main */
main section {
    flex: 1; /* Distribuir o espaço disponível igualmente entre as seções */
    margin-right: 20px; /* Espaçamento entre as seções */
}

/* Estilizando os botões dentro das seções */
main button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    text-align: left;
}

/* Estilizando as imagens dentro dos botões */
main button img {
    margin-right: 10px; /* Espaçamento à direita da imagem */
}

footer {
    text-align: right; /* Alinha o conteúdo à direita */
    position: relative; /* Posicionamento relativo para permitir o posicionamento absoluto do conteúdo interno */
    bottom: 0; /* Coloca o rodapé no final da janela de visualização */
    width: 100%; /* Largura total */
}

.logo-footer {
    width: 100px; /* Definindo a largura da imagem */
    height: auto; /* Mantendo a proporção da altura automaticamente */
    margin-left: auto; /* Margem à esquerda automática para alinhar à direita */
    margin-right: 20px; /* Margem à direita para espaçamento */
    margin-bottom: 10px; /* Margem inferior para espaçamento */
}

.cadastrar-button {
    background-color: #4CAF50; /* Cor de fundo verde */
    color: white; /* Cor do texto */
    padding: 10px 20px; /* Adiciona preenchimento interno */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Adiciona bordas arredondadas */
    cursor: pointer; /* Altera o cursor ao passar sobre o botão */
    font-size: 16px; /* Define o tamanho da fonte */
    position: absolute; /* Posicionamento absoluto */
    left: 300px; /* Alinha o botão à esquerda */
    top: 20px; /* Alinha o botão no topo */
}

.cadastrar-button:hover {
    background-color: #45a049; /* Altera a cor de fundo ao passar o mouse */
}



.header-content {
    margin-left: 300px; /* Respeita a margem esquerda */
    line-height: normal;
    font-size: 100%;
}

.header-content img {
    width: 30px; /* Ajusta o tamanho da imagem conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
}

.header-content h1 {
    margin-top: 10px; /* Adiciona espaço acima do texto */
    color: #333; /* Cor do texto */
}



.filter-section {
    background-color: #f2f2f2; /* Fundo cinza */
    padding: 20px;
    border-radius: 10px; /* Bordas arredondadas */
    margin-bottom: 20px; 
    margin-left: 20px;
}

.filter-container {
    display: flex; /* Exibe os elementos lado a lado */
    flex-wrap: wrap; /* Permite que os elementos quebrem para a próxima linha */
    justify-content: space-between; /* Espaçamento uniforme entre os elementos */
}

.filter-element {
    flex-basis: calc(33.33% - 20px); /* Define a largura dos elementos para cerca de 1/3 da largura total com margem entre eles */
    margin-bottom: 20px; /* Adiciona espaçamento abaixo dos elementos */
    box-sizing: border-box; /* Garante que as margens não aumentem a largura dos elementos */
}

/* Estilizando rótulos */
.filter-element label {
    display: block; /* Exibe os rótulos em uma nova linha */
    margin-bottom: 5px; /* Adiciona espaçamento abaixo dos rótulos */
}

/* Estilizando campos de entrada */
.filter-element input[type="text"] {
    width: 100%; /* Define a largura dos campos de entrada */
    padding: 5px; /* Adiciona espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    border: 1px solid #ccc; /* Adiciona uma borda para destacar os campos */
}

.filter-section + .filter-section {
    margin-top: 20px; /* Adiciona margem superior para separar as sessões */
}

.button-container {
    display: flex; /* Exibe os botões lado a lado */
    justify-content: flex-end; /* Alinha os botões à direita */
    margin-top: 20px; /* Adiciona espaço acima dos botões */
}

.clear-button {
    background-color: #333; /* Fundo cinza escuro */
    color: #fff; /* Texto branco */
    border: none; /* Remove a borda */
    padding: 10px 20px; /* Adiciona espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Altera o cursor ao passar sobre o botão */
    margin-right: 10px; /* Adiciona margem à direita para separar os botões */
}

.apply-button {
    background-color: #5978E5; /* Azul */
    color: #fff; /* Texto branco */
    border: none; /* Remove a borda */
    padding: 10px 20px; /* Adiciona espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Altera o cursor ao passar sobre o botão */
}

.filter-section, .filter-section_2 {
    display: block; /* Garante que cada div ocupe uma linha separada */
    width: 100%; /* Ocupa toda a largura disponível */
    margin-bottom: 20px; /* Adiciona espaçamento entre as divs */
}

.section-wrapper {
    margin-top: 20px; /* Adiciona margem superior para separar as seções */
}

.filter-element_list ol {
    list-style: none; /* Remove os marcadores padrão da lista */
    padding: 0; /* Remove o preenchimento padrão da lista */
}

.filter-element_list ol li {
    display: inline-block; /* Faz os itens da lista ficarem um ao lado do outro */
}

.filter-element_list ol li:nth-child(1) {
    margin-right: 50px; /* Adiciona uma margem à direita para o primeiro item */
}

.filter-element_list ol li:nth-child(2) {
    margin-right: 220px; /* Adiciona uma margem à direita para o segundo item */
}

.filter-element_list ol li:nth-child(3) {
    margin-right: 100px; /* Adiciona uma margem à direita para o segundo item */
}
.filter-element_list ol li:nth-child(4) {
    margin-right: 70px; /* Adiciona uma margem à direita para o segundo item */
}
.filter-element_list ol li:nth-child(5) {
    margin-right: 70px; /* Adiciona uma margem à direita para o segundo item */
}

.unordered-list {
    list-style-type: none; /* Remove os marcadores padrão */
    padding: 10px; /* Adiciona preenchimento interno */
    background-color: #ffffff; /* Define o fundo como branco */
    border-radius: 5px; /* Adiciona bordas arredondadas */
    border: 3px solid #ccc; /* Adiciona uma borda cinza */
    display: inline-block; /* Faz a lista ocupar apenas o espaço necessário */
    white-space: nowrap; /* Impede que os itens da lista quebrem para a próxima linha */
    overflow-x: auto; /* Adiciona uma barra de rolagem horizontal se os itens da lista não couberem */
    margin-left: -10px; /* Remove a margem à esquerda */
    margin-bottom: -15px;
}

.unordered-list li {
    display: inline-block; /* Faz os itens da lista ficarem um ao lado do outro */
    margin-left: 00px;
    font-size: 16px;
}

.unordered-list li:nth-child(1) {
    margin-right: 40px; /* Adiciona uma margem à direita para o primeiro item */
    margin-left: 0px; /* Remove a margem à esquerda do primeiro item */
}

.unordered-list li:nth-child(2) {
    margin-right: 210px; /* Adiciona uma margem à direita para o segundo item */
}

.unordered-list li:nth-child(3) {
    margin-right: 80px; /* Adiciona uma margem à direita para o terceiro item */
}

.unordered-list li:nth-child(4) {
    margin-right: 70px; /* Adiciona uma margem à direita para o quarto item */
}

.unordered-list li:nth-child(5) {
    margin-right: 60px; /* Adiciona uma margem à direita para o quinto item */
}
.unordered-list li:last-child img {
    width: 100px;
    height: auto; /* Mantém a proporção da imagem */
}
