body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(90deg, rgb(95, 95, 234) ,cyan );
   
   }
   
   
   
   div {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 60px;
    border-radius: 15px;
    color: #210808;
    height: 75%;
    width: 20%;
   
   }
   
   h1{
       text-align: center;
       margin-top: -49px;
   
       
       
   }
   
   h4{
       text-align: center;
       font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       font-size: 20px;
       
   }
   
   h5{
       text-align: center;
       font-size: 14px;
       font-family: "montserrat", sans-serif;
       color: #6c6c6c;
   }
   
   
   .Logotipo{
       display: block;
       height: 50px;
       width: 50px;
       position: relative;
       margin-top: -8%;
       margin-left: -10%;
   }
   
   .borcelle {
      height: 150px;
      width: auto;
      display: block;
      margin: 0 auto;
      max-width: 100%;
    
   }
   
   
   input {
       padding: 10px;
       border: none;
       border-radius: 10px;
       font-size: 15px;
       width: 100%;
       border: #21080847   solid thin;
   
   }
   
   button {
       background-color: #5978e5;
       border: none;
       padding: 10px;
       width: 107%;
       border-radius: 10px;
       color: white;
       font-size: 15px;
       cursor: pointer;
   
   
   }
   button:hover {
       background-color: deepskyblue;
   }