body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#menu-lateral {
    position: fixed;
    left: 0;
    top: 0;
    width: 270px;
    height: 900px;
    background-color: #5978E5; /* Cor de fundo azul */
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    text-align: center; /* Texto centralizado */
}

#menu-lateral nav span {
    font-size: 1.5em;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
}

#menu-lateral nav a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 30px;
}

#menu-lateral nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#menu-lateral nav ul button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 5px 10px;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
}

#menu-lateral nav ul button:hover {
    background-color: #2980b9; /* Cor de fundo azul mais escura quando hover */
}

#menu-lateral .imagem {
    width: 200px; /* Definindo a largura da imagem */
    height: auto; /* Mantendo a proporção da altura automaticamente */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;
}

.imagem-atendente {
    width: 100px; /* Definindo a largura da imagem */
    height: auto; /* Mantendo a proporção da altura automaticamente */
    display: block; /* Exibir como bloco para aplicar margens automáticas */
    margin: 0 auto 15px auto; /* Margens automáticas para centralizar a imagem horizontalmente */
    border-radius: 50%;
    overflow: hidden;
}


footer {
    text-align: right; /* Alinha o conteúdo à direita */
    position: relative; /* Posicionamento relativo para permitir o posicionamento absoluto do conteúdo interno */
    bottom: 0; /* Coloca o rodapé no final da janela de visualização */
    width: 100%; /* Largura total */
}

.logo-footer {
    width: 100px; /* Definindo a largura da imagem */
    height: auto; /* Mantendo a proporção da altura automaticamente */
    margin-left: auto; /* Margem à esquerda automática para alinhar à direita */
    margin-right: 20px; /* Margem à direita para espaçamento */
    margin-bottom: 10px; /* Margem inferior para espaçamento */
}

.cadastrar-button {
    background-color: #4CAF50; /* Cor de fundo verde */
    color: white; /* Cor do texto */
    padding: 10px 20px; /* Adiciona preenchimento interno */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Adiciona bordas arredondadas */
    cursor: default; /* Remove o cursor de hiperlink */
    font-size: 16px; /* Define o tamanho da fonte */
    position: absolute; /* Posicionamento absoluto */
    left: 300px; /* Alinha o botão à esquerda */
    top: 20px; /* Alinha o botão no topo */
}

.cadastrar-button:hover {
    background-color: #45a049; /* Altera a cor de fundo ao passar o mouse */
}



.header-content {
    margin-left: 300px; /* Respeita a margem esquerda */
    line-height: normal;
    font-size: 100%;
}

.header-content img {
    width: 30px; /* Ajusta o tamanho da imagem conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
}

.header-content h1 {
    margin-top: 10px; /* Adiciona espaço acima do texto */
    color: #333; /* Cor do texto */
}


.filter-section {
    margin: 0 auto; /* Define as margens esquerda e direita automaticamente para centralizar */
    max-width: 2000px; /* Define a largura máxima do conteúdo para evitar que ele se estenda muito amplamente */
    padding: 20px; /* Espaçamento interno */
    text-align: center; /* Centraliza o conteúdo horizontalmente */
    background-color: #f2f2f2; /* Cor de fundo cinza */
    border-radius: 10px; /* Bordas arredondadas */
    margin-left: 200px; /* Recuo de 200px no lado esquerdo */
}



