body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    margin-top: 0;
}

#menu-lateral {
    position: fixed;
    left: 0;
    top: 0;
    width: 270px;
    height: 900px;
    background-color: #5978E5; 
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    text-align: center; 
}

#menu-lateral nav span {
    font-size: 1.5em;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
}

#menu-lateral nav a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 30px;
}

#menu-lateral nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#menu-lateral nav ul button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 5px 10px;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
}

#menu-lateral nav ul button:hover {
    background-color: #2980b9; 
}

#menu-lateral .imagem {
    width: 200px; 
    height: auto; 
    justify-content: center; 
    align-items: center;
}

.imagem-atendente {
    width: 100px; 
    height: auto;
    display: block;
    margin: 0 auto 15px auto; 
    border-radius: 50%;
    overflow: hidden;
}



footer {
    text-align: right;
    position: absolute; 
    bottom: 0; 
    width: 100%; 
    margin-bottom: 10px;
}

.logo-footer {
    width: 100px; 
    height: auto; 
    margin-left: auto;
    margin-right: 20px;
    margin-bottom: 10px;
}

.cadastrar-button {
    background-color: #4CAF50;
    color: white; 
    padding: 10px 20px; 
    border: none;
    border-radius: 5px; 
    cursor: default; 
    font-size: 16px; 
    position: absolute; 
    left: 300px; 
    top: 20px; 
}

.cadastrar-button:hover {
    background-color: #45a049; 
}



.header-content {
    margin-left: 300px; 
    line-height: normal;
    font-size: 100%;
}

.header-content img {
    width: 30px; 
    height: auto; 
}

.header-content h1 {
    margin-top: 10px; 
    color: #333; 
}


.filter-section {
    margin: 0 auto; 
    max-width: 2000px; 
    padding: 20px; 
    text-align: center; 
    background-color: #f2f2f2; 
    border-radius: 10px; 
    margin-left: 200px;
}

.cadastrar-button a {
    text-decoration: none; 
    color: white; 
}

