body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    margin-top: 200px;
}

#menu-lateral {
    position: fixed;
    left: 0;
    top: 0;
    width: 270px;
    height: 900px;
    background-color: #5978E5;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

#menu-lateral nav span {
    font-size: 1.5em;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
}

#menu-lateral nav a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 30px;
}

#menu-lateral nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#menu-lateral nav ul button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 5px 10px;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
}

#menu-lateral nav ul button:hover {
    background-color: #2980b9; 
}

#menu-lateral .imagem {
    width: 200px;
    height: auto;
    justify-content: center; 
    align-items: center;
}

.imagem-atendente {
    width: 100px; 
    height: auto; 
    display: block; 
    margin: 0 auto 15px auto; 
    border-radius: 50%;
    overflow: hidden;
}

main {
    margin-left: 250px; 
    padding: 20px; 
    display: flex;
}


main section {
    flex: 1; 
    margin-right: 20px; 
}


main button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    text-align: left;
}


main button img {
    margin-right: 10px; 
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: right;
}


.logo-footer {
    width: 100px; 
    height: auto; 
    margin-right: 20px; 
    margin-bottom: 10px; 
}



.botao-section {
    display: flex; 
    justify-content: space-around; 
}

.botao-section button {
    width: 255px;
    height: 157px; 
    background-color: #f2f2f2; 
    border: none;
    cursor: pointer;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-radius: 10px; 
    padding: 10px; 
}


.botao-section button img {
    width: 55px; 
    height: auto; 
}


.botao-section button h1,
.botao-section button h2 {
    margin: 10px 0; 
}
.botao-section a{
    text-decoration: none; 
}

.botao-section a:hover {
        text-decoration: underline; 
}