body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    margin-top: 0;
}

#menu-lateral {
    position: fixed;
    left: 0;
    top: 0;
    width: 270px;
    height: 900px;
    background-color: #5978E5; 
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    text-align: center; 
}

#menu-lateral nav span {
    font-size: 1.5em;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
}

#menu-lateral nav a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 30px;
}

#menu-lateral nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#menu-lateral nav ul button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 5px 10px;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
}

#menu-lateral nav ul button:hover {
    background-color: #2980b9; 
}

#menu-lateral .imagem {
    width: 200px; 
    height: auto; 
    justify-content: center; 
    align-items: center;
}

.imagem-atendente {
    width: 100px; 
    height: auto; 
    display: block; 
    margin: 0 auto 15px auto; 
    border-radius: 50%;
    overflow: hidden;
}



main {
    margin-left: 250px; 
    padding: 20px; 
    display: flex; 
}


main section {
    flex: 1; 
    margin-right: 20px; 
}


main button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    text-align: left;
}


main button img {
    margin-right: 10px; 
}

footer {
    text-align: right; 
    position: relative; 
    bottom: 0; 
    width: 100%; 
}

.logo-footer {
    width: 100px; 
    height: auto; 
    margin-left: auto; 
    margin-right: 20px; 
    margin-bottom: 10px; 
}

.cadastrar-button {
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    position: absolute; 
    left: 300px; 
    top: 20px; 
}

.cadastrar-button:hover {
    background-color: #45a049; 
}



.header-content {
    margin-left: 300px; 
    line-height: normal;
    font-size: 100%;
}

.header-content img {
    width: 30px; 
    height: auto; 
}

.header-content h1 {
    margin-top: 10px; 
    color: #333; 
}



.filter-section {
    background-color: #f2f2f2; 
    padding: 20px;
    border-radius: 10px; 
    margin-bottom: 20px; 
    margin-left: 20px;
}

.filter-container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
}

.filter-element {
    flex-basis: calc(33.33% - 20px); 
    margin-bottom: 20px; 
    box-sizing: border-box; 
}


.filter-element label {
    display: block; 
    margin-bottom: 5px; 
}


.filter-element input[type="text"] {
    width: 100%; 
    padding: 5px; 
    border-radius: 5px; 
    border: 1px solid #ccc; 
}

.filter-section + .filter-section {
    margin-top: 20px; 
}

.button-container {
    display: flex; 
    justify-content: flex-end; 
    margin-top: 20px; 
}

.clear-button {
    background-color: #333; 
    color: #fff; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    margin-right: 10px; 
}

.apply-button {
    background-color: #5978E5; 
    color: #fff; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
}

.clear-button:hover, .apply-button:hover {
    background-color: #555; 
}

.filter-section, .filter-section_2 {
    display: block; 
    width: 100%; 
    margin-bottom: 20px;
}

.section-wrapper {
    margin-top: 20px; 
}

.filter-element_list ol {
    list-style: none; 
    padding: 0; 
}

.filter-element_list ol li {
    display: inline-block; 
}

.filter-element_list ol li:nth-child(1) {
    margin-right: 50px; 
}

.filter-element_list ol li:nth-child(2) {
    margin-right: 220px; 
}

.filter-element_list ol li:nth-child(3) {
    margin-right: 100px; 
}
.filter-element_list ol li:nth-child(4) {
    margin-right: 70px; 
}
.filter-element_list ol li:nth-child(5) {
    margin-right: 70px; 
}

.unordered-list {
    list-style-type: none; 
    padding: 10px; 
    background-color: #ffffff; 
    border-radius: 5px; 
    border: 3px solid #ccc; 
    display: inline-block; 
    white-space: nowrap; 
    overflow-x: auto; 
    margin-left: -10px; 
    margin-bottom: -15px;
}

.unordered-list li {
    display: inline-block; 
    margin-left: 00px;
    font-size: 16px;
}

.unordered-list li:nth-child(1) {
    margin-right: 40px; 
    margin-left: 0px; 
}

.unordered-list li:nth-child(2) {
    margin-right: 210px; 
}

.unordered-list li:nth-child(3) {
    margin-right: 80px; 
}

.unordered-list li:nth-child(4) {
    margin-right: 70px; 
}

.unordered-list li:nth-child(5) {
    margin-right: 60px; 
}
.unordered-list li:last-child img {
    width: 100px;
    height: auto; 
}

.cadastrar-button a {
    text-decoration: none; 
    color: white; 
}